.container{

}

.container .heroes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: orange;
    max-width: 700px; /* 최대 가로 길이 설정*/
    margin: 0 auto; /* 위 아래값은 초기값 좌우 값 auto*/
    padding: 40px; 20px; /*위 아래 40 좌우 20*/
}

.container .heroes .hero{
    width: 80px;
    height: 84px;
    margin: 4px;
    border: 3px solid #fff; /* 3px 의 테두리 */
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #555;
    transform: skewX(-14deg);
    
}

.container .heroes .hero:hover{
    background-color: white;
}


.container .heroes .hero .image{
    
}